body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height: 0
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background: #61a8df;
    -webkit-transition: .3s;
    transition: .3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #37DACE
}

::-webkit-scrollbar-thumb:active {
    background-color: #17BBAF;
}

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?18127066');
    src: url('../font/fontello.eot?18127066#iefix') format('embedded-opentype'), url('../font/fontello.woff?18127066') format('woff'), url('../font/fontello.ttf?18127066') format('truetype'), url('../font/fontello.svg?18127066#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 14px;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 40px;
    margin-left: .2em;
    font-size: 120%;
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

a.tab:hover {
    text-decoration: none;
    color: #fff;
    background-color: #61a8df;
    border-radius: 2px;
}

a.tab:link,
a.tab:visited,
a.tab:active {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    padding: 5px 8px 5px 8px;
    border-radius: 3px;
    color: #ddd;
}

.exitdemo {
    background-color: #50D0EC;
    text-align: center;
    position: fixed;
    right: 48px;
    top: 72px;
    padding: 10px;
    border-radius: 3px;
}

.exitdemo p {
    margin: 0;
}

.navbar {
    margin-bottom: 0!important;
}

.navbar-brand {
    padding: 10px 15px!important;
}
.navbar-brand{
    line-height: 30px;
    font-size: 25px;
    font-weight: 700;
}
.navbar-form .form-group {
    position: relative;
}

.navbar-form .form-input.active .form-control {
    width: 220px;
}

.navbar-form .form-control {
    width: 150px;
    height: 30px;
    font-size: 14px;
    border-radius: 20px;
    line-height: 28px;
    padding: 0 12px;
    padding-left: 31px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.navbar-form .button {
    position: absolute;
    outline: 0;
    height: 30px;
    width: 39px;
    top: 0;
    left: 0;
    font-size: 17px;
    color: #b3b3b3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background: url(../img/search.png) center center no-repeat;
    background-size: 15px 15px;
}

.form-input {
    width: 280px;
    height: 28px;
    margin-top: 3px;
    position: relative;
}

#input {
    border: none;
    width: 200px;
    height: 26px;
    margin: 0px 0px 2px 30px;
    background-color: transparent;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
    font-size: 12px;
    line-height: 16px;
    outline: none;
}

.bread {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 3px;
    width: 100%;
}

.wrapper {
    /*text-align: center;*/
    background-color: #e2e2e2;
}

.inner {
    padding: 10px;
    font-size: 12px;
    line-height: 150%;
    text-align: left;
}

.main {
    padding-top: 20px;
}

.post-title a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}

.cate li {
    float: left;
    margin: 0px 10px;
}

.boxcont,
#comments {
    background: #fff;
    border-radius: 3px;
}

.main_arc {
    padding-top: 20px;
    margin-bottom: 3em;
}

.articles-ul li {
    list-style: square;
    margin-left: 3em
}

.post {
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.post img {
    max-width: 100%;
}

.post-head {
    margin-bottom: 5px;
}

.post-head h3 {
    margin: 5px 0;
}

.post-head time {
    color: #aaa;
}

.post-content {
    margin: 10px 0 0 0;
    line-height: 22px;
}

.post-foot {
    border-top: 1px solid #ddd;
}

.post-tag {
    padding-top: 5px;
}

.post-tag a {
    color: #848484;
    text-decoration: none;
}

.post-tag span {
    margin-right: 8px;
    font-size: 12px;
}
.post-tag li {
    padding-top: 8px;
    margin-left: 4px;
    margin-right: 8px;
    float: left;
}
.icon-tag:before {
    content: '\e803';
    height: 15px;
    float: left;
    color: #666;
}
.post-foot-link {
    margin-top: 12px;
}
p code {
    border: 1px solid #ddd;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fl,
.fr {
    display: inline;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.rightbar {
    padding-top: 20px;
}

.box-info,
.box-art,
.box-rep,
.box-link {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 30px;
}

.info {
    padding-top: 20px;
    text-align: center;
    margin: auto;
    font-size: 16px;
    border-bottom: 1px solid #cccccc;
}

.info img {
    margin-bottom: 10px;
    border-radius: 50%;
}

.table-info {
    margin: 15px 0 5px 27px;
}
.table-info a {
    margin-left: 10px;
    width: 32px;
    height: 32px;
    text-decoration: none;
    display: inline-block;
    background-repeat: no-repeat;
}
.github{ background-image: url(../img/icon/GitHub.png);}
.twitter{background-image: url(../img/icon/twitter.png);}
.sina_weibo{background-image: url(../img/icon/sina_weibo.png);}
.tencent_weibo{background-image: url(../img/icon/tencent_weibo.png);}
.QQ{background-image: url(../img/icon/QQ.png);}
.RSS{background-image: url(../img/icon/RSS.png);}
.douban{background-image: url(../img/icon/douban.png);}
.google_plus{background-image: url(../img/icon/google_plus.png);}
.zhuhu{background-image: url(../img/icon/zhihu.png);}
.mail{background-image: url(../img/icon/mail.png);}
.e_music{background-image: url(../img/icon/e_music.png);}
.x_music{background-image: url(../img/icon/x_music.png);}

.cell {
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.fcolor {
    color: #A0A0A0;
    margin-left: 8px;
}

blockquote {
    padding: 10px 20px;
    background-color: #EDF1F4 !important;
    margin: 0 0 20px;
    font-size: 15.5px;
    border-left: 5px solid #9E9E9E !important;
}

#bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.22);
    background: #f8f8f8;
    text-align: center;
    color: #999;
    padding: 26px 0 23px 0px;
}

.content {
    width: 1170px;
    margin: 0 auto;
}

.post-info {
    margin: 15px 0;
}
.textarea {
    width: 90%;
}

.page-nav {
    margin: 2em 0;
}

.page-nav ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.page-nav .current a {
    background-color: #5990de;
    color: #fff;
}

.page-nav ol li {
    display: inline-block;
    margin-left: 5px;
}

.page-nav ol li a {
    display: inline-block;
    padding: 5px 11px;
    border: 1px solid #72A3FD;
}

.pagination {
    margin: 0 0 10px 0!important;
}

@media screen and (max-width: 1163px) {
    .rightbar {
        display: none!important;
    }
    .navbar-form {
        display: none;
    }
    .content {
        width: auto;
    }
    .page-navigator {
        left: 100px;
    }
    .post-tag {
        display: none;
    }
    html {
        overflow-x: hidden;
    }
    .col-md-4 {
        display: none;
    }
    .post-info input {
        margin: 5px 0;
    }
    .col-md-8 {
        width: auto!important;
    }
}

@media screen and (min-width: 992px) {
    .col-md-8 {
        width: 70.66666%!important;
    }
}

@media screen and (min-width: 992px) {
    .col-md-4 {
        width: 28.333333%!important;
    }
}

@media (min-width: 992px) {}

@media screen and (max-width: 768px) {}


/*评论页面的css样式*/

#comments {
    margin: 2.5em 0;
    padding: 20px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 3px #ddd;
    clear: both;
}

#comments .page-navigator {
    list-style: none;
    margin: 0;
    padding: 26px 0;
}

#comments .page-navigator .current {
    background-color: #549FEC;
}

#comments .page-navigator li {
    float: left;
    margin: 0 2px;
}

#comments .page-navigator li a {
    padding: 0 10px;
}

.comment-list,
.comment-list ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment-list li {
    padding: 5px 0 0 0;
    border-top: 1px solid #ddd;
    margin: 10px 0;
    clear: both;
}

.comment-list li .comment-reply {
    font-size: .92857em;
    float: right;
    margin-bottom: 1rem;
}

.comment-list li .comment-reply a {
    background-color: #549FEC;
    color: #fff;
    padding: 2px 4px;
}

.comment-list li .comment-reply a .comment-reply {
    float: right;
    margin-top: -39px;
    font-size: .92857em;
}

.comment-list li .comment-reply a .comment-reply a {
    background-color: #549FEC;
    color: #fff;
    padding: 4px 5px;
    text-decoration: none;
    font-size: 13px;
}

.comment-list li .comment-author {
    display: block;
    color: #444;
    font-size: 16px;
}

.comment-list li .comment-author .avatar {
    float: left;
    margin: 6px 10px 0 0;
    padding: 1px;
    border-radius: 50px;
    width: 42px;
    height: 42px;
}

.comment-list li .comment-author cite {
    font-weight: bold;
    font-style: normal;
}

.comment-list li .comment-meta a {
    font-size: 14px;
    color: #949494;
    text-decoration: none;
}

.comment-list li .comment-content {
    overflow: hidden;
    font-size: 15px;
    line-height: 1.8;
    margin-left: 4rem;
}

.comment-list li .comment-content p {
    margin: 0;
    display: inherit;
}

.comment-list li .comment-content p img {
    vertical-align: middle;
}

.comment-list li .comment-children {
    padding-left: 45px;
}

.comment-list li .comment-children .comment-children .comment-children {
    padding-left: 0;
}

.comment-list li .cancel-comment-reply a {
    float: right;
    background-color: #E03131;
    padding: 1px 4px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.comment-meta {
    margin-top: -2px;
}

.comment-meta a {
    font-size: 14px;
    color: #949494;
    text-decoration: none;
}

.comment-content {
    overflow: hidden;
    font-size: 15px;
}

.comment-content p {
    margin: 0;
}

.comment-children {
    padding-left: 45px;
}

.comment-children .comment-children {
    padding-left: 0;
}

.cancel-comment-reply a {
    float: right;
    background-color: #E03131;
    padding: 2px 4px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.respond {
    clear: both;
}

.respond h3 {
    margin: 1em 0;
}

.respond #comment-form {
    font-size: 15px;
}

.respond #comment-form p {
    margin: .5em 0;
}

.respond #comment-form label {
    display: none;
    margin: 0;
}

.respond #comment-form input {
    padding: 5px 6px;
    line-height: 16px;
    height: 38px;
    width: 32%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #eee;
    background: #fdfdfd;
    -webkit-transition: both 1s;
    transition: both 1s;
}

.textarea {
    margin: .5em 0;
    width: 100%;
}

.submit {
    background-color: #3498db;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 6px 10px;
}

.submit:hover,
.submit:focus {
    color: #5dade2;
    color: #fff;
}
