body{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height: 0
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background: #61a8df;
    -webkit-transition: .3s;
    transition: .3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #37DACE
}

::-webkit-scrollbar-thumb:active {
    background-color: #17BBAF;
}
@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?18127066');
    src: url('../font/fontello.eot?18127066#iefix') format('embedded-opentype'),
    url('../font/fontello.woff?18127066') format('woff'),
    url('../font/fontello.ttf?18127066') format('truetype'),
    url('../font/fontello.svg?18127066#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 14px;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 40px;
    margin-left: .2em;
    font-size: 120%;
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
a.tab:hover{
    text-decoration: none;
    color: #fff;
    background-color: #61a8df;
    border-radius: 2px;
}
a.tab:link, a.tab:visited, a.tab:active {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    padding: 5px 8px 5px 8px;
    border-radius: 3px;
    color: #ddd;
}

.navbar{
    margin-bottom: 0!important;
}

.navbar-brand{
    padding: 10px 15px!important;
}
.navbar-form .form-group {
    position: relative;
}
.navbar-form .form-input.active .form-control{
    width: 220px;
}
.navbar-form .form-control {
    width: 120px;
    height: 30px;
    font-size: 14px;
    border-radius: 20px;
    line-height: 28px;
    padding: 0 12px;
    padding-left: 31px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.navbar-form .button {
    position: absolute;
    outline: 0;
    height: 30px;
    width: 39px;
    top: 0;
    left: 0;
    font-size: 17px;
    color: #b3b3b3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background: url(../img/search.png) center center no-repeat;
    background-size: 15px 15px;
}
.form-input{
    width: 280px;
    height: 28px;
    margin-top: 3px;
    position: relative;
}

#input{
    border: none;
    width: 200px;
    height: 26px;
    margin: 0px 0px 2px 30px;
    background-color: transparent;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
    font-size: 12px;
    line-height: 16px;
    outline: none;
}
.bread{
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 3px;
    width: 100%;
    height: 36px;
}
.container {
        width: 1024px !important;

}
.wrapper{
    /*text-align: center;*/
    background-color: #e2e2e2;
}
.inner{
    padding: 10px;
    font-size: 12px;
    line-height: 150%;
    text-align: left;
}
.main{
    padding-top: 20px;
}
.post-title a:hover{
    text-decoration: none;
}
.clear{
    clear: both;
}
.cate li{
    float: left;
    margin: 0px 10px;
}
.boxcont,#comments{
    background: #fff;
    border-radius:3px; 
}
.post{
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.post-head{
    margin-bottom: 5px;
}
.post-head h3{
    margin: 5px 0;
}
.post-head  time{
    margin-left: 5px;
    color: #aaa;
}
.post-content{
    margin: 10px 0 0 0;
    line-height: 22px;
}
.post-foot{
    border-top: 1px solid #ddd;
}

.post-tag{
    padding-top: 5px;
}
.post-tag a{
    color: #848484;
    text-decoration: none;
}
.post-tag span{
    margin-right: 8px;
    font-size: 12px;
}
.post-tag li{
    padding-top: 8px;
    margin-left: 4px;
    margin-right: 8px;
    float: left;
}
.icon-tag:before {
    content: '\e803';
    height: 15px;
    float: left;
    color: #666;
}
.post-foot-link{
    margin-top: 12px;
}
p code{
    border: 1px solid #ddd;
}
ol, ul {
    margin:0;
    padding:0;
    list-style: none;
}
.fl, .fr {
    display:inline;
}
.fl {
    float:left;
}
.fr {
    float:right;
}

@media (min-width: 992px){
    .col-md-8 {
        width: 71.666667%!important;
    }
}
@media (min-width: 992px){
    .col-md-4 {
        width: 28.333333%!important;
    }
}
.rightbar{
    padding-top: 20px;
    width: 260px;
    float: right;
}


.box-info,.box-art,.box-rep,.box-link{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 30px;
}
.info{
    padding-top: 20px;
    text-align: center;
    margin: auto;
    font-size: 16px;
    border-bottom:1px solid #cccccc;
}
.info img{
    width: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.table-info{
    height: 45px;
    margin-top: 12px;
    margin-left: 11px;
}
.table-info a{
    text-decoration: none;
}
.icon-1,.icon-2,.icon-3,.icon-4,.icon-5{
    display: inline;
    margin-left: 10px;
}

.table-info .info-img{
    width: 32px;
}

.cell{
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.fcolor{
    color:#A0A0A0;
    margin-left: 8px;
}


blockquote {
    padding: 10px 20px;
    background-color: #EDF1F4 !important;
    margin: 0 0 20px;
    font-size: 15.5px;
    border-left: 5px solid #9E9E9E !important;
}

#bottom{
    border-top: 1px solid rgba(0, 0, 0, 0.22);
    background: #f8f8f8;
    text-align: center;
    color: #999;
    padding: 26px 0 23px 0px;
}
.content{
    width: 999px;
    margin: 0 auto;
}
.post-info{
    margin: 15px 0;
}
.post-info span{
    margin-right: 10px;
}
.textarea{
    width: 90%;
}
.page-nav{
    margin: 20px;
}
.page-nav ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.page-nav .current a {
    background-color: #5990de;
    color: #fff;
}
.page-nav ol li {
    display: inline-block;
    margin-left: 5px;
}
.page-nav ol li a{
    display: inline-block;
    padding: 5px 11px;
    border: 1px solid #72A3FD;
}
#comments{
    padding: 20px;
    margin: 20px 0;
}
.comment-list li {
    padding: 8px;
    margin-top: 15px;
    border: 1px solid #ddd;
}
.comment-list .comment-author a, .comment-list .comment-author cite {
    font-style: normal;
    font-size: 16px;
    margin-left: 2px;   
}
.comment-author{
    float: left;
    margin-right: 15px;
}
.comment-author .avatar{
    border-radius: 50px;
}
.comment-meta:hover a {
    text-decoration: none;
}
.comment-meta a:link {
    color: #999999;
}   
.comment-meta a:visited {
    color: #999999;
}
.comment-content{
    font-size: 15px;
    line-height: 1.5;
    margin: 14px 0;
    clear: both;
}
.comment-content p {
    margin:0;
}
.comment-meta {
    margin-top: 5px;
}
.comment-reply,.cancel-comment-reply {
    display: inline;
    font-size: 14px;
}
.comment-reply a{
    padding: 3px;
    background: #5BA1F9;
    color: #fff;
}
.cancel-comment-reply a{
    padding: 3px;
    background: #EB3D20;
    color: #fff;
}
.respond{
    margin-top: 10px;
}

label {
    display: none;
}

.pagination {
    margin: 0 0 10px 0!important;
}

@media screen and (max-width: 1163px){
    .rightbar{
        display: none!important;
    }
    .navbar-form{
        display: none;
    }
    .content {
        width: auto;
    }
    .page-navigator{
        left: 100px;
    }
    .post-tag{
        display: none;
    }
    html{
        overflow-x:hidden;
    }
    .col-md-4{
        display: none;
    }
    .post-info input{
        margin: 5px 0;
    }
}
@media screen and (max-width: 768px){

}